/**
 * @name Imporved Members List
 * @author ᵗʰᵃᵗMatthew#0734
 * @version 0.7
 * @description For a cleaner overall look. Attributes are customizable in the file!
 * @source https://github.com/itsthatMatthew/Improved-Members-List/
*/

/* WARNING: this is a WIP file, please keep that in mind! */
/* NOTE: the theme works well with Gibbu's "RadialStatus" theme and DevilBro's "BadgesEverywhere" plugin, give them a try! */

@import url("https://itsthatmatthew.github.io/Improved-Members-List/src/iml.css");

:root {
  /* SCHEME: --attributes: value; /* Explanation. [default value(s)] */
  --retracted-opacity: .6; /* The opacity with witch the retracted memberslist appears. [.6] */
  --retracted-width: 60px; /* The width of the retracted panel. [60px] */
  --animation-time: .25s; /* Time the animation takes to play. [.25s] */
  --chat-slide: 0px; /* How much the chat panel slides when you hover over the members list (positive = left). [0px] (none) or [186px] (full) */
  --groups-color: #fff; /* A choosen "accent" color (hex.), which the role groups will be displayed with. [#fff]*/
  --groups-background: #2f3136; /* A choosen background color (hex.) for the role groups. [#2f3136] */
}

/* NOTE: If you experience any problems with the theme, please contact me on discord! */
