.membersWrap-2h-GB4 {
  width: 0;
  min-width: 0;
  position: relative;
  left: var(--retracted-width);
  transition: all var(--animation-time) ease;
  opacity: var(--retracted-opacity);
  padding-left: var(--retracted-width);
}

.membersWrap-2h-GB4:hover {
  width: 248px;
  left: 0;
  opacity: 1;
  padding: 0;
}
