.membersWrap-2h-GB4{
  width: 0;
  min-width:0;
  position: relative;
  left: var(--hidewidth);
  transition: all var(--animationtime) ease;
  opacity: var(--hideopacity);
  padding-left: var(--hidewidth);
}

.membersWrap-2h-GB4:hover{
  width: 248px;
  left:0;
  opacity: 1;
  padding: 0;
}
