/* NOTE: v1.0a CSS for Imporved Members List v1.0*/

.membersWrap-2h-GB4{
  width: var(--memberslist-width);
  position: relative;
  left: calc( var(--memberslist-width) - var(--retracted-width) );
  transition: all var(--slide-time) ease;
  transition-delay: var(--slide-delay);
  opacity: var(--retracted-opacity);
  margin-left: calc( var(--retracted-width) - var(--memberslist-width) + var(--scrollbar-distance) );
}

.membersWrap-2h-GB4:hover{
  left: 0;
  opacity: 1;
  margin-left: calc( var(--retracted-width) - var(--memberslist-width) + var(--scrollbar-distance) + var(--chat-slide) * ( var(--memberslist-width) - var(--retracted-width) ) );
}

.membersWrap-2h-GB4>.members-1998pB{
  width: var(--memberslist-width);
}

.membersGroup-v9BXpm{
  color: var(--groups-color);
  background: var(--groups-background);
  padding-top: 12px;
  border-left: 3px solid var(--groups-color);
  position: var(--groups-stay-top, sticky);
  z-index: 1;
  top: 0;
}

.member-3-YXUe{
  margin:0;
  padding-left: 8px;
  border-radius: 0;
  min-width: calc( var(--memberslist-width) - 16px);
  color: var(--members-online-color);
  background: var(--members-background);
}

.offline-3nJYBR{
  color: var(--members-offline-color);
}

.membersWrap-2h-GB4>.thin-1ybCId{
  background: var(--groups-background);
}

.membersWrap-2h-GB4>.thin-1ybCId::-webkit-scrollbar-thumb{
  background-color: var(--groups-color);
}

.membersWrap-2h-GB4>.listContent-2_qb-y{
  width: var(--memberslist-width);
}
