.membersWrap-2h-GB4{
  width: 0;
  min-width: 0;
  position: relative;
  left: var(--retracted-width);
  transition: all var(--animation-time) ease;
  opacity: var(--retracted-opacity);
  margin-left: var(--retracted-width);
}

.membersWrap-2h-GB4:hover{
  width: 246px;
  left: 0;
  opacity: 1;
  margin-left: calc( -246px + var(--retracted-width) + var(--chat-slide));
}

.membersGroup-v9BXpm{
  color: var(--groups-color);
  background: var(--groups-background);
  padding-top: 12px;
  border-left: 3px solid var(--groups-color);
  position: sticky;
  z-index: 1;
  top: 0;
}
