.membersWrap-2h-GB4{
  width: 0;
  min-width: 0;
  position: relative;
  left: var(--retracted-width);
  transition: all var(--animation-time) ease;
  opacity: var(--retracted-opacity);
  margin-left: calc( var(--retracted-width) + var(--scrollbar-distance) );
}

.membersWrap-2h-GB4:hover{
  width: var(--memberslist-width);
  left: 0;
  opacity: 1;
  margin-left: calc(( -1 * var(--memberslist-width) ) + var(--retracted-width) + var(--chat-slide) + var(--scrollbar-distance) );
}

.membersWrap-2h-GB4:hover>.members-1998pB{
  width: var(--memberslist-width)
}

.members-1998pB{
  max-width: var(--memberslist-width);
}

.member-3-YXUe{
  max-width: var(--memberslist-width);
}

.membersGroup-v9BXpm{
  color: var(--groups-color);
  background: var(--groups-background);
  padding-top: 12px;
  border-left: 3px solid var(--groups-color);
  position: var(--groups-stay-top, sticky);
  z-index: 1;
  top: 0;
}

.member-3-YXUe{
  margin:0;
  padding-left: 8px;
  border-radius: 0;
  color: var(--members-online-color);
  background: var(--members-background);
}

.offline-3nJYBR{
  color: var(--members-offline-color);
}

.membersWrap-2h-GB4>.thin-1ybCId{
  background: var(--groups-background);
}

.thin-1ybCId::-webkit-scrollbar-thumb{
  background-color: var(--groups-color);
}

.listContent-2_qb-y{
  width: var(--memberslist-width);
}

.marginBottom20-32qID7>.selectable-2GY4I1{
  filter: blur(0);
}

.selectable-2GY4I1, .colorStandard-2KCXvj span{
  filter: blur(var(--personals-blur-size));
  transition: all .1s ease;
}

.selectable-2GY4I1:hover, .colorStandard-2KCXvj span:hover{
  filter: blur(0);
}

.inputWrapper-31_8H8{
  filter: blur(0);
}
